@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   min-width: 100%;
   min-height: 100vh;
}

body {
   display: flex;
   justify-content: center;
   
   background-image: url('https://assets.codepen.io/6060109/ZigZag.png');
}

.main-card {
   min-width: 300px;
   max-width: 350px;
   width: 80%;
   height: 567px;
   border: 1px solid #66666679;
   border-radius: 5px;
   background-color: #ffffff;
   margin: 100px auto;
   box-shadow: 0px 40px 40px -20px #3c7b61;
   
}

.close-button {
   display: block;
   padding-right: 18px;
   padding-top: 18px;
   text-align: right;
}

.close-button > img {
   cursor: pointer;
   opacity: 0.5;
}

.close-button > img:hover {
   opacity: 1;
}
